# Dependencies
node_modules
.pnpm-store

# Build
dist
build
.turbo

# Env
.env
.env.local
.env.*.local

# Nix
.direnv
.devenv

# DB
*.sql
*.dump

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
*.swp
*.swo
# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
